
{% block content %}

  <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src= "/static/js/bootstrap.min.js"> </script>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css">


  <script type="text/javascript">
    $.ajaxSetup({ 
         beforeSend: function(xhr, settings) {
             function getCookie(name) {
                 var cookieValue = null;
                 if (document.cookie && document.cookie != '') {
                     var cookies = document.cookie.split(';');
                     for (var i = 0; i < cookies.length; i++) {
                         var cookie = jQuery.trim(cookies[i]);
                         // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
             }
             if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                 // Only send the token to relative URLs i.e. locally.
                 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
             }
         } 
    });

function book_ticket(){

}

function chk_login(id){
    var dataString = '&movie=' + id ;
    console.log(dataString);
    $.ajax({
        type: "GET",
        url: "/chk_login/",
        data: dataString,
        success: function(data) {
          if(data["status"]=="0"){
            //alert("please login to book ticket");
            $("#login").modal("show");
          }
          else{
            if(data["seat_left"]=="0"){
              //alert("sorry show is housefull");
              $("#housefull").modal("show");


            }
            else{
              //alert(data["seat_left"]+"seats left book now");
              $("#book_now").modal("show");
              $("#seat_left").html(data["seat_left"]);
            }

          }
        }   
     }); 
     return false;   
}


    </script>
     <h1 style="float: left;">Upcoming Movies</h1>
     <h3 align="right"> Hi, {% if user.username %} {{user.username}} ! {% else %} <a href="\login" >Guest</a> !  {% endif %}</h3>

    
      <hr>
  
    <div class="span12">
      {% for movie in movies %}
      <div class="well" style="width:200px;float:left;margin-left:30px">
        <h5 align="center">{{movie.title}}</h5>
        <img border="0" src='{{movie.cover}}' alt="{{movie.title}}" >
        <br>
        <button class="btn" type="submit" id="{{movie.title}}" style="width:200px; margin:0 auto;" onclick="chk_login('{{movie.title}}')"> Buy Tickets </button>
      </div>
      {% endfor %}
      
    </div>
  
<!-- Modal -->
<div id="login" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Please Login to Buy Tickets</h3>
    </div>
    <div class="modal-body">
      <div class="row-fluid">
        <div class="well" style=" margin-right:auto; margin-left:auto;">
  <form action="\login\" method="post">{% csrf_token %}
    <h3>MoviePlex Login</h3>
  <table border="0">
    <tr><td><label for="username">User name:</label></td><td>
    <input type="text" name="username" value="" id="username" ></td></tr>
    <tr><td><label for="password">Password:</label></td><td>
    <input type="password" name="password" value="" id="password"></td></tr>
<tr>
    <td></td><td><input type="submit" class="btn btn-primary" value="login" style="margin-left: 60px;" /></td></tr>
  </table>
  </form>
  </div>
       <!--/span-->
    </div>
  </div>

</div>





<!-- Modal -->
<div id="housefull" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Housefull </h3>
    </div>
    <div class="modal-body">
      <div class="row-fluid">
        <div class="well ">
          <table class="table table-striped">
            
            <tr><td><h1>THIS PICTURE IS HOUSEFULL NOW</h1></td></tr>
            
          </table>
        </div>
       <!--/span-->
    </div>
  </div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Done</button>
</div>
</div>



<!-- Modal -->
<div id="book_now" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Book tickets</h3>
    </div>
    <div class="modal-body">
      <div class="row-fluid">
        <div class="well ">
          <table class="table table-striped">
            
            <tr><td>booking options</td><td>Total tickets left <a id="seat_left"></a></td></tr>
            
          </table>
        </div>
       <!--/span-->
    </div>
  </div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Done</button>
</div>
</div>




  {% endblock %}