

    <script src="/static/js/jquery-2.0.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link id="bootstrap-style" href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link id="bootstrap-style" href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">


  <div class="well" style="width:290px; margin-right:auto; margin-left:auto;margin-top:15%">
  <form action="" method="post">{% csrf_token %}
    <h3>MoviePlex Login</h3>
  <table border="0">
    <tr><td><label for="username">User name:</label></td><td>
    <input type="text" name="username" value="" id="username" ></td></tr>
    <tr><td><label for="password">Password:</label></td><td>
    <input type="password" name="password" value="" id="password"></td></tr>
<tr>
    <td></td><td><input type="submit" class="btn btn-primary" value="login" style="margin-left: 60px;" /></td></tr>
  </table>
  </form>
  </div>
