  <form action="" method="post">
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="email">Email:</label>
    <input type="text" name="email" value="" id="email">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="signup" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>